# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

.idea/
cmake-build-debug/

# Executables
*.exe
*.out
*.app

#vscode
/networking/.vscode
/networking/build

#cmake & build
networking/CMakeCache.txt
networking/CMakeFiles/
networking/Makefile
networking/cmake_install.cmake
networking/networking
networking/test/CMakeCache.txt
networking/test/CMakeFiles/
networking/test/Makefile
networking/test/cmake_install.cmake
networking/test/networking_unit_tests

